.vector {
	background: no-repeat url('../images/wave.svg');
	position: absolute;
	background-size: contain;
	left: 0%;
	right: 0%;
	top: 5%;
	bottom: 0%;
	z-index: -10;
	/* animation: 20s vectorChange ease-in-out infinite alternate-reverse; */
	width: 100%;
}

@media (max-width: 1400px) {
	.vector {
		background-size: 150%;
	}
}
@media (max-width: 1000px) {
	.vector {
		background-size: 200%;
	}
}

@media (max-width: 750px) {
	.vector {
		background-size: 380%;
	}
	.hero-text {
		font-size: 14px;
	}
}
